{{#each this}}

<div class="card col-md-4" id="movie--{{@index}}">
      <img class="card-img-top" src="https://image.tmdb.org/t/p/w500/kqjL17yufvn9OVLyXYpvtyrFfak.jpg" alt="Card image cap">
      <div class="card-block">
          <h4 class="card-title">{{Title}}</h4>
          <p class="card-text">{{YEAR}}</p>
          <p class="card-text">{{MAJOR ACTORS}}</p>
          <p class="card-text">{{RATING}}</p>
      </div>
</div>

{{/each}}