
<div class="col-lg-3" id="movie--{{@index}}">

      <img class="card-img-top" src="{{largeposter}}" alt="Image Coming Soon!">

      <div class="card-block">
            
            <h4 class="card-title">{{title}}</h4>
            <p class="card-text">Released: {{year}}</p>
            <p class="rateYo"></p>

            <nav aria-label="...">
                  <button type="button" class="modal-open-button" movie-id="{{id}}" data-toggle="modal" data-target="#movieDetail">Movie Details</button>
                  <button class="deleteFromMovies" id="{{FBkey}}" type="button"><a href="#">Delete</a><span class="sr-only">(current)</span></button>
                  <button class="addToWatchedMovies" id="watched--{{id}}" type="button"><a href="#">I watched this!</a><span class="sr-only">(current)</span></button>

		        </nav>

      </div>

</div>
