      <img class="card-img-top" src="{{largeposter}}" alt="Image Coming Soon!">

      <div class="card-block">
            
            <h4 class="card-title">{{title}}</h4>
            <p class="card-text"><strong>Cast:</strong>&nbsp&nbsp&nbsp{{cast}}</p>
            <p class="card-text"><strong>Description:</strong>&nbsp&nbsp&nbsp{{overview}}</p>
            <p class="card-text"><strong>Released:</strong>&nbsp&nbsp&nbsp{{year}}</p>
            <p class="rateYo"></p>

            <nav aria-label="...">
                  <button class="addToWatchedMovies" id="watched--{{id}}" type="button"><a href="#">I watched this!</a><span class="sr-only">(current)</span></button>

		        </nav>

      </div>
