{{#each this}}

<div class="col-lg-3" id="movie--{{@index}}">

      <img class="card-img-top" src="https://image.tmdb.org/t/p/w300/{{poster}}" alt="Image Coming Soon!">

      <div class="card-block">
            
            <h4 class="card-title">{{title}}</h4>
            <p class="card-text">Released: {{year}}</p>
            <p class="card-text">Starring: {{actors}}</p>
            <p class="rateYo"></p>

            <nav aria-label="...">
                  <button class="deleteFromMovies" id="{{FBkey}}" type="button"><a>Delete</a><span class="sr-only">(current)</span></button>
                  <button class="addToWatchedMovies" id="watched--{{id}}" type="button"><a>I watched this!</a><span class="sr-only">(current)</span></button>

		        </nav>

      </div>

</div>

{{/each}}